
body{
    background:#c7c6c6;
}
.register {
    padding:5% 25%;
}
.cajilla {
    margin:0 auto
}
.boton-register {
    text-align: center;
    padding:0 auto;
}
#boton-registro {
    width:50%;
    margin:25px 25%
}
.titulin {
    text-align: center;
}
.titulin h2 {    
    font-family: 'Comforter Brush', cursive;
    font-size: 4rem;
    color:yellow
}
.titulin h3 { 
    color:orangered
}
.regreso {
    text-align: center;
    margin-top:15px
}