/*--------ESTILOS GLOBALES--------------------------------------*/
* {
  margin: 0 auto;
  padding: 0 auto;
  --main-color: #593b81;
  --main-color-lighter: #7749f8;
  --neutral-grey: #68717a;
  --main-bg-color: #f6f6f6;
}

body {
  background-color: var(--main-bg-color);
}
/*--------------------------------------------------------------*/

/*--------NAVBAR-----------------------------*/

/*-------------------------------------------*/

/*--------HEADER-----------------------------*/

/*-------------------------------------------*/

/*--------SECCION PAGOS-----------------*/

.link-color {
  color: var(--main-color-lighter);
  text-decoration: none;
  font-size: 1rem;
}

.bi-row {
  width: fit-content !important;
}
/*-------------------------------------------*/

/*--------SECCION CATEGORIAS-----------------*/

/*-------------------------------------------*/

/*---------SECCION OFERTAS-------------------*/

/*-------------------------------------------*/

/*---------SECCION NOVEDADES-----------------*/

/*-------------------------------------------*/

/*----------FOOTER---------------------------*/

/*-------------------------------------------*/
